div.inactive-mode span.relation_name {
	color:#85832D;
	text-shadow: -1px -1px #FFFB56;
}
div.inactive-mode span.points {
	color:#85832D;
	text-shadow: -1px -1px #FFFB56;
}
div span.relation_name {
color:#0a0a0a;
text-shadow: -1px -1px #888;
//box-shadow: -2px -2px 0px #181818;
}
div.points{
	color:#000;
	text-shadow: -1px -1px #888;
	font-weight:bold;
}

