/* Webfont: CharlemagneBold */@font-face {
    font-family: 'CharlemagneBold';
    src: url('charlemagne.eot'); /* IE9 Compat Modes */
    src: url('charlemagne.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('charlemagne.woff') format('woff'), /* Modern Browsers */
         url('charlemagne.ttf') format('truetype'), /* Safari, Android, iOS */
         url('charlemagne.svg#CharlemagneBold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

