@font-face {
  font-family: 'shlop';
    src: url('../../fonts/shlop.eot');
    src: url('../../fonts/shlop.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/shlop.woff') format('woff'), 
    url('../../fonts/shlop.otf') format('opentype'), 
    url('../../fonts/shlop.svg') format('svg');
    font-weight: normal;
    font-style: normal;    
}
@font-face {
    font-family: 'Charlemagne Regular';
    src: url('../../fonts/charlemagne-regular.eot');
    src: url('../../fonts/charlemagne-regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/charlemagne-regular.woff') format('woff'),
    url('../../fonts/charlemagne-regular.otf') format('opentype'),
    url('../../fonts/charlemagne-regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;  
}
@font-face {
    font-family: 'Charlemagne Std Bold';
    src: url('../../fonts/charlemagne.eot');
    src: url('../../fonts/charlemagne.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/charlemagne.woff') format('woff'), 
    url('../../fonts/charlemagne.otf') format('opentype'), 
    url('../../fonts/charlemagne.svg') format('svg');
    font-weight: normal;
    font-style: normal;  
}
@font-face {
  font-family: 'anothershabby';
    src: url('../../fonts/Anothershabby.eot');
    src: url('../../fonts/Anothershabby.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Anothershabby.woff') format('woff'), 
    url('../../fonts/Anothershabby.otf') format('opentype'), 
    url('../../fonts/Anothershabby.svg') format('svg');
    font-weight: normal;
    font-style: normal;  
}
@font-face {
  font-family: 'ecolier';
  src: url("../../fonts/ec_cour.ttf");
}
/*body {
  padding-top: 10px;
  color: white;
  font-size: 2em;
}*/

#frankenperrier {
  color: inherit;
}

h1 {
  color: #fff;
}

table {
  width: 100%;
}

nav a, #classement a {
  color: white;
}

#classement .pagination a {
  color: #4A1710;
}

header {
  margin-bottom: 30px;
}
header div.col-md-1 {
  min-height: 87px;
  min-width: 105px;
}

a {
  color: #4a1710;
}

a:hover {
  color: black;
}

.row {
  width: 100%;
}

nav.row div {
  position: relative;
  height: 67px;
  z-index: 5;
}
nav.row .herbe, nav.row .onglet, nav.row span {
  position: absolute;
}
nav.row .onglet {
  width: 100%;
  height: auto;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}
nav.row .herbe {
  z-index: 5000000;
}
nav.row span.menu {
  color: #1e1a1a;
  left: 0px;
  bottom: 13%;
  display: inline-block;
  width: 100%;
  text-align: center;
  z-index: 500;
  font-family: 'Charlemagne Std Bold';
  font-weight: bold;
  font-size: 1vw;
}

#logo, #zombieLogo, #deconnection {
  display: inline-block;
  vertical-align: middle;
}

#classement {
  margin-top: 20px;
}

#classementSemaine, #classementMois, #classementTotal {
  background-color: #9bc5aa;
  color: #4a1710;
  padding: 5px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#class-top {
  margin-top: 20px;
}

#deconnection {
  top: 50px;
  right: 0px;
  height: 87px;
  width: 105px;
  background-image: url("../../img/deco.png");
  background-repeat: no-repeat;
}
#username-info{
  color: black;
  text-decoration: underline;
}
#logo, #zombieLogo {
  height: auto;
}

#logo {
  width: 60%;
  max-height: 144px;
  max-width: 630px;
}

#zombieLogo {
  width: 20%;
  max-width: 191px;
  max-height: 182px;
}

.center, .center-test {
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: solid #36140f 3px;
  border-top:solid #36140f 1px;
  margin-bottom: 120px;
  padding-bottom: 70px;
  padding-top: 20px;
}

.center, .center-test {
  background-color: #0e7f3c;
}

#herbe1 {
  left: -20%;
  /*right: -20%;*/
  bottom: -15px;
  width: 40%;
}

#herbe2 {
  width: 30%;
  bottom: -20px;
  left: -1%;
}

#herbe3 {
  width: 40%;
  bottom: -20px;
  right: -10%;
}

#herbe4 {
  width: 40%;
  bottom: -20px;
  left: -10%;
}

#herbe5 {
  width: 35%;
  bottom: -20px;
  right: -2%;
}

#information {
  top: 50px;
  right: 0px;
  height: 87px;
  width: 62px;
  background-image: url("../../img/infos.png");
  background-repeat: no-repeat;
  background-size: contain; 
}

#aidePetit {
  display: none;
}

#semaine {
  background-color: #9bc5aa;
}

#coccinelle {
  position: absolute;
  top: 50%;
  right: 50%;
  z-index: 500000000000000;
}

/*.row {
	width: 100%;
	margin-right: 0px;
	margin-left: 0px;
}*/
/* Large desktop */
/* Portrait tablet to landscape and desktop */
/*body.navbar-active {
	padding-top:30px;
}*/
@media (max-width: 992px) {
/*

  #information, #deconnection {
    top: 0px;
  }

  nav.row div {
    background: #565555;
    height: 30px;
    border: solid #36140f 1px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
  }
  .navbar {
    min-height: 30px;
  }
  body.navbar-active {
  	padding-top:30px;
  }*/

}
@media (max-width: 1958px) {
  #classement, .nav li, .nav-tabs li, .nav-justified li, .nav, .nav-tabs, .nav-justified {
    max-width: 16,666666667%;
  }
  
}
.navbar-default {
    background-color: #fff;
    border-color: transparent;
}
.navbar-fixed-top {
    border-width: 0;
}
nav .btn-navbar {
	text-align:center;
}
nav .btn-navbar span {
	font-size:0.7em;
	position:relative;
	top:-8px;
}
@media (max-width: 1200px) {
	nav .btn-navbar span {
		position:relative;
		font-size:1em;
		top:5px;
	}
}
/*
@media (max-width: 1200px) {
  body {
    font-size: 1.7em;
  }
}*/

#viande, #loot {
  position: absolute;
  height: auto;
}

#viande {
  cursor: pointer;
  width: 5%;
  top: 200px;
  left: 47.5%;
}

#loot {
  width: 10%;
  top: 200px;
  left: 45%;
}

.popover{
  color: black;
  font-size: 12px;
}

#classement{
  margin-top: 0;
}

#rankings{
  color: #0F056B;
  font-size: 30px;
}

#blocLogo a:hover{
  text-decoration: none;
}

.alert {
	margin-left: 15px;
	margin-right: 15px;
}

.modal-header h4, .close {
  background-color: #5cb85c;
  color:white !important;
  text-align: center;
  font-size: 30px;
}
.modal-footer {
  background-color: #f9f9f9;
}
.modal-body,.modal-header {
    text-align: center;
    background: #9BC5AA none repeat scroll 0% 0%;
    margin-top: 0px;
    padding-bottom: 1px;
    border-radius: 6px;	
    position: relative;
}
.modal-content {
    padding: 5px;
    background-color: #0E7F3C;
    border-radius: 9px;	
}

.modal-footer {
    background-color: #9BC5AA;
}
.modal-footer {
    padding: 10px 20px 10px;
    margin-top: 15px;
    text-align: right;
    border-top: 0px;
}
body.test {
  background:#E9E9E9 none repeat scroll 0% 0%;
}
#detail_user {
    position:absolute;
    display:none;
    left:-200px;
    top:0px;
    width:250px;
    padding: 10px;
    border: 2px solid #CCC;
    background-color: #9BC5AA;
    border-radius: 10px;
    color: #75211F;
    z-index:999;
    font-size: 0.8vw;
    font-weight: normal;
    font-family: "Charlemagne Regular";
}
.link{
    color:#000;
    cursor:pointer;
}
.link:hover{
    text-decoration:underline;
}
#blocDeconnection {
  text-align:center;
}
a[data-title]:hover {
  position: relative;
}

a[data-title]:hover:after {
  content: attr(data-title);
  padding: 4px 8px;
  color: #333;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 20;
  white-space: nowrap;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}
#modalMessage .modal-body{
	text-align:left;
}
ul.messages li {
    border-top: 2px solid #f3f3f3;
    padding: 20px 0 10px 65px;	
}
#count_pending_duel {
  position: absolute;
  bottom: 117%;
  left: 73%;
  font-size: 1vw;
  transform: rotate(10deg);
  height:0;
}
a:hover #count_pending_duel {
  color:white !important;
}

#blocChallenge > #tipChallenge
 {
    position:absolute;
    display:none;
    width:400px;
    left:-375px;
    top:25px;
    padding: 10px;
    border: 2px solid #CCC;
    background-color: #9BC5AA;
    border-radius: 10px;
    color: #75211F;
    z-index:999;
}
#blocChallenge:hover > #tipChallenge {
    display:block;
}

span.connected_user{
    display:none;
}
#header_new {
  z-index:1;
  position:relative;
}
#link_logout{
	display:block;
	height:87px;
	width:105px;
}
@media (max-width: 1200px) {
  #home {
    font-size: 1.7vw;
  }
}  
#homepage {
    background-image: url("../../img/background-home.png");
    background-size: contain;
    background-repeat: no-repeat;
    position:relative;
    top:-59px;

    #menu-play {
        width:36%;
        float:left;
    }
    #text-play {
        width:36%;
        padding-top: 14%;
        padding-left: 6%;
        padding-right: 5%;    
        position:absolute;
    }  
    #explication-play {
        width:36%;
        padding-top: 31%;
        padding-left: 6%;
        padding-right: 5%;    
        position:absolute;
    }
    #menu-demo {
        width:36%;
        float:right;
        margin-right:10%;
    }
    #text-demo {
        margin-right: 15%;
        width: 28%;
        padding-top: 14%;
        padding-left: 0;
        padding-right: 0;
        right: 0px;
        position: absolute;
    }
    #explication-demo {
        width:36%;
        margin-right:10%;    
        padding-top: 31%;
        padding-left: 5%;
        padding-right: 6%;
        position:absolute;
        right:0;
    }
    .explication{
        font-family: "anothershabby";
        color: #3c1715;
        font-size: 1.4vw;
        height: 47%;
        line-height: 130%;
    }

    .text-menu {
        position:absolute;
        font-family: "Charlemagne Std Bold";
        font-size: 2vw;
        text-transform: uppercase !important;
        font-weight: bold;
    }
    a div.text-menu,a:visited div.text-menu {
        color:black;
    }
    a:hover div.text-menu {
        text-shadow:0px 0px 9px #fff;
    }
    #menu-home {
        padding-top:104px;
    }
    #explication-text {
        width: 100%;
        padding-top: 0;  
    }
    #panel{
        width: 85%;
        margin-left: 4%;
        margin-top: 30%;
        color: #3c1715;  
        font-family: "Charlemagne Std Bold";
        text-transform: uppercase; 
        font-size: 1.05vw;
        line-height:1.25vw;     
    }
    #leader-board {
        width:98%;
        padding-top:10%;
        height:10%;
        font-family: "Charlemagne Std Bold"; 
    }
    #leader-board img{
        width:100%;
        position:absolute;
        left:0;
        top:0;
        margin-top:8%;
    }
    #periode-board{
      position: absolute;
      margin-top: 15%;
      padding-left:59%;
      color: #FFF;
      font-size: 0.9vw;
      font-family: "anothershabby";
      right:20%;
      text-align: right;
      width:100%;
      z-index:2;
    }
    #periode-board .focus{
      font-size: 1.4vw;
      text-align: left;
      position: absolute;
      left: 44%;
      top: 54%;
    }
    .score-choice{
        position:absolute;
        cursor:pointer;
        left: 44%;
        top: 124%;    
    }
    .periode-choice{
      text-transform: uppercase;
      cursor:pointer;
    }
    .periode-choice:hover{
      text-shadow:0px 0px 5px #a8a8a8;  
    }
    #leaders-1-2{
        font-size:0.8vw;
        position:absolute;    
        margin-top: 47%;
        text-align: left;
        padding-left:11%;
    }
    #leaders-3-4-5{
        font-size:0.7vw;
        margin-top: 91%;
        position:absolute;
        text-align: left;
        padding-left:1.5%;      
    }    
}
@media (min-width: 1200px) {
	#home.col-md-10{
		width:85.333333%;
		left:-1%;
	}
}
@media (max-width: 1366px) {
/*  nav div {
    font-size: 0.5em;
  }*/

  #classement {
    font-size: 0.9em;
  }
}
#home.col-md-10, #home .link{
	border-radius : 1% 1%;
    position:relative;
	color:#3c1715;
}
#home {
	#header_new {
		z-index:1;
		position:relative;
	}

	#scores{
		position: absolute;
		margin-top: 3%;
		margin-left: 2.5%;
		font-family: "Charlemagne Std Bold"; 
	}
	#zombie-level{
		position: absolute;
		margin-top: 3%;
		margin-left: 2.5%;
		font-family: "Charlemagne Std Bold"; 
	}
	.col-md-10{
		padding-left:0;
		padding-right:0;
	}
	.herbe {
		display:none;
	}
	img#trophies{
		width: 2.5vw;
		position: relative;
		left: 0vw;
	}
	img#money{
		width: 6vw;
		position: relative;
		left: -1.7vw;
	}
	img#points{
		width: 4vw;
	}
	img#level{
		width: 4vw;
	}
	img.level {
	    width: 70%;
	    position: absolute;
	    margin-top: 107%;
	    left: -39%;
	}
	#leader-board {
		width: 25%;
		padding-top: 0;
		font-family: "Charlemagne Std Bold";
		position: absolute;
		margin-top: 8%;
		margin-left: 71%;
		color: white;
	}
	#number-friends {
		width: 6%;
		font-family: "Charlemagne Std Bold";
		position: absolute;
		margin-top: 11.5%;
		margin-left: 52%;
		color: #FFF;
		z-index: 2;
		text-align: center;
		vertical-align: middle;
		padding: 0%;
		cursor: pointer;
	}
	#friends {
		font-family: "Charlemagne Std Bold";
		position: absolute;
		margin-top: 14.5%;
		margin-left: 44%;
		color: #FFF;
		z-index: 2;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		width: 7%;
		line-height: 0.9vw;
		overflow: hidden;
	}
	img.level-friend {
	    width: 66%;
	    padding-bottom:10%;
	}
	#label-friend {
		width: 80%;
		color: #000;
		font-size: 0.7vw;
		left: 0px;
		position: absolute;
		top: 85%;
	}
	#leader-board img{
	    width:100%;
	    position:absolute;
	    left:0;
	}
	#periode-board{
		position: absolute;
		margin-top: 0%;
		padding-left: 59%;
		color: #FFF;
		font-size: 0.9vw;
		font-family: "anothershabby";
		right: 30%;
		text-align: right;
		width: 100%;
		z-index: 2;
	}
	#periode-board .focus{
		font-size: 1.4vw;
		text-align: left;
		position: absolute;
		left: 48%;
		top: 25%;
	}
	#toggleScore{
		text-align: left;
		position: absolute;
		left: 51%;
		cursor: pointer;
		padding-top: 2px;
	}
	.periode-choice{
		text-transform: uppercase;
		cursor:pointer;
	}
	#my-position{
		text-transform: uppercase;
		cursor:pointer;
		font-size: 0.5vw;	
	}
	.periode-choice:hover{
		text-shadow:0px 0px 5px #a8a8a8;	
	}
	.rank_neighbor{
		display:none;
	}
	.rank.self, .rank_neighbor.self{
		color:#fffd6c;
	}
	#leaders-1-2{
		font-size: 0.8vw;
		position: absolute;
		margin-top: 37%;
		text-align: left;
		padding-left: 31%;
	}
	#leaders-3-4-5{
		font-size: 0.8vw;
		margin-top: 91%;
		position: absolute;
		text-align: left;
		padding-left: 15%;   
	}
	#panel-trophies{
		background-image: url("../../img/white-background.png");
		position: absolute;
		width: 320px;
		border-radius: 12px;
		left: 79.5%;
		margin-top: -76%;
		font-family: "Charlemagne Std Bold";
		font-weight: bold;
		font-size: 1.1vw;
		text-transform: uppercase;
		z-index:1;
	}
	#panel-trophies td.img{
		width:29%;
	}
	#panel-trophies td.text{
		vertical-align:middle;
		padding-left:4%;
	}
	#panel-duel{
		background-image: url("../../img/white-background.png");
		position: absolute;
		width: 18%;
		border-radius: 12px;
		left: 20.5%;
		margin-top: 21%;
		font-family: "Charlemagne Std Bold";
		font-weight: bold;
		font-size: 1.1vw;
		text-transform: uppercase;
	}
	#panel-duel td.img{
		width:29%;
	}
	#panel-duel td.text{
		vertical-align:middle;
		padding-left:4%;
	}
	#block-trophies {
		cursor:pointer;
	}
	#block-trophies > #panel-trophies {
		display:none;
	}
	#block-trophies:hover > #panel-trophies {
		display:block;
	}
	div.label {
		font-family: "Charlemagne Std Bold";
		font-weight: bold;
		font-size: 1.7vw;
		text-transform: uppercase;
		color:#261012;
	}
	div.label-friends {
		font-family: "Charlemagne Std Bold";
		font-weight: bold;
		font-size: 1.1vw;
		text-transform: uppercase;
		color:#261012;
	}
	#stats {
		position: absolute;
		margin-top: 51.3%;
		left: 61.5%;
		z-index: 2;
		font-family: "anothershabby";
		font-weight: normal;
		width: 15%;
		line-height: 1.5em;
		font-size: 1.2vw;
	}
	#news {
	    position: absolute;
		margin-top: 51.2%;
		left: 21%;    
	    z-index: 2;
	    font-family: "";
	    font-weight: normal;
	    font-size: 1.3vw;
	    width: 18%;
	    font-style: italic;
	    line-height:1.2em;
	}
	#account {
		position: absolute;
		margin-top: 54%;
		left: 45.5%;
		z-index: 2;
		font-weight: normal;
		width: 12%;
		font-family: "anothershabby";
		font-size: 1.2vw;
		line-height: 1.2em;
	}
	#panel-trophies span.label{
		font-family: "anothershabby";
		text-transform: none;
		color:#261012;
		font-weight:normal;
		font-size:1vw;
	}
	#panel-duel span.label{
		font-family: "anothershabby";
		text-transform: none;
		color:#261012;
		font-weight:normal;
		font-size:1vw;
	}
	#stats span{
		font-family: "Charlemagne Std Bold";
		font-weight: normal;
		font-size:1.3vw;
	}
	.curvilinear {
		font-family: "anothershabby";
	}
	label {
		color : white;
	}	
}

#index-game.row {

}

#index-game {

	.aideTool {
		float:right;
	}
	#relation-done-small {
		ul li {
			float:left;
			padding:0;
			.relation-done {
				position:absolute;
				top:0;
				height:100%;
				width:105%;
				padding: 0% 12%;
			}
			.relation_name {
				font-size:0.6vw;
				font-weight:normal;
			}
			.points {
				font-size:0.6vw;font-weight:normal;
			}
		}

	}

	div.relation-done span.relation_name {
	  color:#85832D;
	  text-shadow: -1px -1px #FFFB56;
	}
	div.disabled-relation span.relation_name {
	  color:#3b3d3e;
	  text-shadow: 0px -1px #b8b8b8;  
	}
	div.relation-done span.points {
	  color:#85832D;
	  text-shadow: -1px -1px #FFFB56;
	}
	div.disabled-relation span.points {
	  color:#3b3d3e;
	  text-shadow: 0px -1px #b8b8b8;  
	}
	div span.relation_name {
	  color:#0a0a0a;
	  text-shadow: -1px -1px #888;
	  font-weight: normal;
	  box-sizing: border-box;
	}
	.phenomeneSelection label.control-label {
	  color:#0a0a0a;
	  text-shadow: -1px -1px #888;
	  box-sizing: border-box;
	  font-size: x-small;
    font-family: "Charlemagne Std Bold";
	}
	div.scores div.points{
	  color:#000;
	  text-shadow: -1px -1px #888;
	  font-weight:bold;
	  text-transform: none;
	  font-size: 0.7em;
	}
	div.relation_name, li.phenomeneSelection div.form-group {

	  font-size: medium;
	  font-family: "Charlemagne Std Bold";
	  text-transform: uppercase;

	  min-height: 36%;
	  padding: 15% 1% 3% !important;
	}
	div.relation_name-done {
	  font-size: 1.1vw;
	  font-family: "Charlemagne Regular";
	  text-transform: uppercase;
	  line-height: 1.6vw;
	  min-height: 36%;
	  padding: 24% 0% 3% !important;
	  text-align: center;     
	}
	div.relation_name-done-small {
	  font-size: 0.6vw;
	  font-family: "Charlemagne Regular";
	  text-transform: uppercase;
	  line-height: 0.8vw;
	  min-height: 36%;
	  padding: 20% 0% 3% !important;
	  text-align: center;     
	}
	div.relation_name.short {
	  padding-top: 22% !important;
	}
	span.points{
	  color:#000;
	  font-size:1vw;
	  font-family: "Times";         
	}
	div.scores-done span.points{
	  font-size:0.8vw;
	  font-family: "Times";         
	}
	.links-level .link-level{
	  color:#0a0a0a;
	  text-shadow: 0px -1px #b8b8b8;      
	  font-family: "Charlemagne Std Bold";
	  background-color:#7F7F7F;
	  border:solid 1px #181818;
	  padding: 0% 4%;
	  box-shadow: 0px 1px 0px #181818;
	  text-transform: uppercase;
	}
  div.level_relation{
    position: absolute;
    width: 100%;
    top: 0px;
    padding-top: 9%;
    font-size:x-small;
    font-family: "Charlemagne Std Bold";
    color:#000;
    z-index:1;
  }

  @media (min-width: 768px) {
    div.relation_name, li.phenomeneSelection div.form-group {
      font-size: large;
      line-height: 1.1em;
    }
    .phenomeneSelection label.control-label {
      text-shadow: -1px -1px #888;
      font-size:1.2vw;
    }
    div.level_relation{
      font-size:small;
      font-family: "Charlemagne Std Bold";
      color:#000;
      z-index:1;
    }    
    .links-level .link-level {
      font-size: large;
    }
  }

  @media (min-width: 992px) {
    div.relation_name, li.phenomeneSelection div.form-group {
      font-size: 19px;
      line-height: 1.6vw;
    }    
    .links-level .link-level {
      font-size: large;
    }
  }

  @media (min-width: 1200px) {
    div.relation_name, li.phenomeneSelection div.form-group {
      font-size: 1.2vw;
      line-height: 1.6vw;
    }    
    .links-level .link-level {
      font-size: large;
    }
  }

	div.relation-done .link-level, div.disabled-relation .link-level,.links-level  a.link-level-disabled,.links-level  a.link-level-disabled:hover{
	  color:#3b3d3e;
	  text-shadow: 0px -1px #b8b8b8;        
	  background-color:#4e5152;
	  border:solid 0px #181818;
	  box-shadow: -1px -1px 0px #181818;
	}
	div.detail-relation {
	  position:absolute;
	  top:0;
	  width:100%;
	  height:100%;
	  padding:5% 14%;
	}
	div.relations-choice {
	  position:absolute;
	  top:0;
	  width:95%;
	  padding:5% 14% 5% 20%;
	}
	.links-level  .link-level:hover{
	  color:#000;
	  text-shadow: 1px 0px #a8a8a8;
	  background-color:#7F7F7F;
	  border:solid 1px #010101;     
	  box-shadow: -1px -1px 0px #181818;
	}
	.phenomeneSelection select {
	  width:93%;
	  margin-left: 5%;
	  margin-top: 8%;
	  font-family: "Charlemagne Regular";
	  text-transform: uppercase;
	  background-color: #7F7F7F;  
	  color:#000;
	  border:solid 1px #000;
	  
	}
	.scores {
	  position: absolute;
	  padding: 0% 0% 16%;
	  box-sizing: border-box;
	  width: 100%;
	  left: 0;
	  bottom: 0;
	}
	.scores-done {
	  position: absolute;
	  padding: 0% 0% 23%;
	  box-sizing: border-box;
	  width: 100%;
	  left: 0;
	  bottom: 0;
	  text-align:center;
	}
	.scores-done-small {
	  position: absolute;
	  padding: 0% 0% 14%;
	  box-sizing: border-box;
	  width: 100%;
	  left: 0;
	  bottom: 0;
	  text-align:center;
	  line-height:0.5vw;
	}
	#relation-done-small {
	  margin-left:3%;
	  margin-right:1%;
	  margin-top: 2%;
	}	
}
#shop {
	.object {
	  color: #4a1710;
	  background: #9bc5aa;
	  display: inline-block;
	  padding-top: 20px;
	  padding-bottom: 10px;
	  margin-top: 20px;
	  position: relative;
	}
	.object .image {
	  width: 200px;
	  height: auto;
	  float: left;
	  position: absolute;
	  top: 0px;
	  left: 0px;
	}
	.object p {
	  display: inline-block;
	  margin-left: 250px;
	}
	.object .name {
	  font-size: 1.5em;
	}

	.btn {
	  color: #4a1710;
	}

	.row {
	  margin-left: 0px;
	}

	#caddy {
	  height: 212px;
	  background-image: url("../../img/caddy.png");
	  background-repeat: no-repeat;
	}

	#purse {
	  margin-top: 70px;
	}
	#purse h2 {
	  position: absolute;
	  right: 0px;
	  font-size: 2em;
	}

	.particle-text {
	  position: absolute;
	  top: 50px;
	  left: 290px;
	  color: white;
	  height: 0px;
	  width: 0px;
	  text-shadow: 1px 1px 10px #FFFFFF;
	}
	span.error {
		color: #d01a27;
		font-size: 95%;
	}
	.buy {
	  margin-right:20px;
	}
	@media (max-width: 980px) {
	  #purse {
	    margin-top: 0px;
	  }
	  #purse h2 {
	    position: inherit;
	    margin-top: 0px;
	  }
	}

}
#index-duel {

	tr.duel:hover, tr.win:hover, tr.lost:hover, tr.draw:hover {
	    background-color:#5cb85c;
	}
	.center-duel {
	    background-color: #DADADA;
	    color: #4a1710;
	}
	tr.completed:hover{
	    border-top:solid 1px black;
	    cursor:pointer;
	}

	div.progress {
	    color:black;
	}
	div.bloc_pagination {
	    text-align:center;
	}
	tr.not-seen div.result {
	    display:none;
	}
	td.winner {
	    color: #75211f;
	}
	ul.nav {
	    font-family: "Charlemagne Std Bold";
	    text-transform: uppercase;
	}
	.badge {
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	}

	label.level-not-available {
		margin-top:15%;
	}
	.progress-bar-success-duel {
		background-color:#75211f;
	}
	.progress-bar-danger-duel {
		color:#000;background-color:#fff;
	}
}

#modalCompareDuel {
	
	#content {
	    color:black;
	    text-align:left;
	}
	.source_1 {
		background-color:#81F7BE;
	}
	.source_2.rank_0 {
		background-color:#FF4000;
	}
	.source_3.rank_0 {
		background-color:#9FF781;
	}
	.source_3 {
		font-style: italic;
	}
	.highlight {
	    font-weight: 900;
	    font-style: italic;
	    color:green;
	}
	.user_answer {
	    font-weight: 900;
	    color:blue;
	}
	.challenger_answer {
	    font-weight: 900;
	    color:red;
	}
	.challenger_answer.user_answer {
	    font-weight: 900;
	    color:#00b40c;
	}

}

#modalEndGame {
	.row {
		margin:0;
	}
	#endGame {
	    text-align: center;
	    background: #9BC5AA none repeat scroll 0% 0%;
	    margin-top: 0px;
	    padding-bottom: 0px;
	    border-radius: 6px;
	}
	.modal-body {
	    position: relative;
	    padding: 5px;
	    background-color: #0E7F3C;
	    border-radius: 6px;
	}
	.modal-content {
	    border-radius: 9px;
	}
	.modal-dialog {
	    width: 610px;
	}
	.btn-lg {
		margin:10px;
	}	
}

#modalReport {
	label.report-label {
		font-size:1em;
	}
}

#informations {
	.table-striped > tbody > tr:nth-child(odd) > td,
	.table-striped > tbody > tr:nth-child(odd) > th {
  		background-color: #9bc5aa;
	}
	.date-export {
		font-size:small;
		font-style: italic;
	}
}
ul#countdown-pad{
  list-style-type:none;
  text-align:center;
  display:inline-block;
  margin:0px;
}
ul#countdown-pad > li{
  float:left;
  background:url("../../img/filmstrip.png") 0 0/90% no-repeat;
  width:20px;
  height:31px;
}
ul#countdown-pad > li.seperator{
  background:url("../../img/comma.png") 2px 75px no-repeat;
  width:5px;
}
#refuse {
	z-index:100;
}
header {
/*	width: 100%;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: #fff;*/
	transition: background-color 0.4s ease 0s, color 0.4s ease 0s, transform 0.4s ease 0s, opacity 0.4s ease-in-out 0s;
	padding-top:10px;
	-webkit-transition: height 1s;
	-moz-transition: height 1s;
	-ms-transition: height 1s;
	-o-transition: height 1s;
	transition: height 1s;
}
header #blocLogo {
/*	display: inline-block;
	height: 180px;

	float: left;
	font-family: "Oswald", sans-serif;
	font-size: 60px;
	color: white;
	font-weight: 400;*/
	transition: background-color 0.4s ease 0s, color 0.4s ease 0s, transform 0.4s ease 0s, opacity 0.4s ease-in-out 0s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
 header nav {
	display: inline-block;
	float: right;
}
/*header nav a {
	line-height: 150px;
	margin-left: 20px;
	color: #9fdbfc;
	font-weight: 700;
	font-size: 18px;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}*/
header nav a:hover {
	color: white;
}
a.tool:hover {
	text-decoration:none;
}
/*
header {
	height:70px;
	padding-top:0;
	margin:0;
}
*/
#zombieLogoNew {
	/*height:100%;*/
}
/*
body {
    padding-top: 70px;
    color: white;
    font-size: 2em;
}
body.navbar-active {
    padding-top: 75px;
    color: white;
    font-size: 2em;

*/
header.smaller {
	height: 75px;
}

/*header.smaller #blocLogo {
	width: 150px;
	height: 0px;
	line-height: 0px;
	font-size: 30px;
}
header.smaller nav a {
	line-height: 75px;
}*/

span.link {
	cursor: pointer;
}
span.link:hover {
	text-decoration: underline;
}

/*
.navbar-reduced {
	padding-top:70px;
}
*/

/* threads of discussion */
#results .modal-dialog {
    width: 100%;
    margin:0;
}
.user_answer{
	text-decoration: underline;
}
.sentence, .hasSVG {
	background: #9BC5AA none repeat scroll 0% 0%;
}
.container-thread {
	padding: 20px 30px 15px 30px;
	background: #9BC5AA none repeat scroll 0% 0%;
	font-size: 17px;
}
.thread {
	width: 100%;
}
.open-asnwer:hover {
	text-decoration : underline;
	cursor: pointer;
}

