.row-ingredient .fa {
	font-size:120%;
}
.background-recipe{
	background-color: white;
	opacity: 0.97;
}
#create-recipe #title {
	font-size:130%;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #000;
    background-color: #fff;
    border-color: #ddd #ddd #fff;
}
